/* me veo en la obligacion de advertir que esto es lo mas "copiado" del trabajo de emiliano. Soy de los que no hizo curso de CSS y HTML asi que tuve que copiar toda la 
estructura e ir tocando por varias horas para entender bien que hacia cada cosa(ya habia visto algo de css pero nunca hice practica) y asegurarme que todo estuviera bien
referenciado. Al final le agregue un par de mis cosas cuando ya estaba mas comodo. Creo que quedo bien el programa la final asi que creo que hice un buen trabajo con el tema. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
      font-family: river;
      src: url(fonts/river.ttf);
    }
  body {
    font-family: "Roboto", sans-serif;
  }
  img {
    width: 100%;
    margin-bottom: 10px;
  }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }
  .input {
    width: 50% !important;
  }
  h1 {
    color: rgb(225, 76, 65);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
  }

  p {
    line-height: 1.8;
  } 
  .entryy{
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
  }
  #cuerpo {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nueva-entrada {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
  }

  .nueva-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }

  .agregar {
    position: relative;
    background-color: white;
    border: 1px solid rgb(225, 76, 65);
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all 0.5s;
  }

  .nueva-active .agregar {
    margin-top: 0;
  }

  .agregar h3{
    color: rgb(225, 76, 65);
    padding-bottom: 5px;
  }
  .agregar #entradaCerrar {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20px;
    color: rgb(225, 76, 65);
    border: none;
    background-color: white;
  }
  .agregar #entradaCerrar:hover {
    cursor: pointer;
  }
  .agregar #agregar:focus {
    outline: none;
  }
  .agregar  {
    padding-top: 10px;
  }
  .card .card-image .card-title {
    color: rgb(225, 76, 65);
    position: unset;
  }
   .entradacontent {
    border-left: 5px solid rgb(7, 76, 99);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
  } 
   .entradacontent:hover {
    border-left: 5px solid rgb(225, 76, 65);
  } 
   .boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
  } 
  #entradaCerrar{
    border: none;
    color: rgb(225, 76, 65);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    padding: 5px 10px;
    transition: all 0.3s;
  }
  #entradaCerrar:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(225, 76, 65);
  }
  #entradaCerrar:focus {
    outline: none;
  }
  
  .boton-eliminar:hover {
    cursor: pointer;
  }
  .boton-eliminar:focus {
    outline: none;
  }
  #ok {
    border: none;
    color: rgb(225, 76, 65);
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 0px 10px;
    transition: all 0.3s;
  }
  #ok:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(225, 76, 65);
  }
  #ok:focus {
    outline: none;
  }
  
  #btnnueva {
    border: none;
    color: rgb(225, 76, 65);
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all 0.3s;
  }
  #btnnueva:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(225, 76, 65);
  }
  #btnnueva:focus {
    outline: none;
  }
  
  #search {
    border: none;
    color: rgb(225, 76, 65);
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all 0.3s;
  }
  #search:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(225, 76, 65);
  }
  #search:focus {
    outline: none;
  }
  